<p-panel header="Batch Mode">
    <ng-template pTemplate="body">
        <form [formGroup]="formValue" class="form-card">
            <div class="row justify-content-between text-left">
                <div class="form-group col-md-3 flex-column ">
                </div>
                <div class="form-group col-md-1 flex-column ">
                    <label>File</label>
                </div>
                <div class="form-group col-md-2 flex-column ">
                    <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]" url="" accept="image/*"
                        (onUpload)="onUpload($event)"></p-fileUpload>
                </div>
                <div class="form-group col-md-6 flex-column ">
                </div>
            </div>
            <br>
            <div class="row justify-content-between text-left">
                <div class="form-group col-md-3 flex-column ">
                </div>
                <div class="form-group col-md-1 flex-column ">
                    <label>Sheet</label>
                </div>
                <div class="form-group col-md-2 flex-column ">
                    <p-dropdown formControlName="sheet" [options]="sheet" optionLabel="name"></p-dropdown>
                </div>
                <div class="form-group col-md-1 flex-column ">
                    Or
                </div>
                <div class="form-group col-md-5 flex-column ">
                    <button pButton label="Sample File" icon="pi pi-download"></button>
                </div>

            </div>
            <br>
            <div class="row justify-content-between text-left">
                <div class="form-group col-md-3 flex-column ">
                </div>
                <div class="form-group col-md-1 flex-column ">
                    <label>Column</label>
                </div>
                <div class="form-group col-md-2 flex-column ">
                    <p-dropdown formControlName="sheet" [options]="sheet" optionLabel="name"></p-dropdown>
                </div>
                <div class="form-group col-md-6 flex-column ">
                </div>
            </div>


            <br>
        </form>

        <div class="card">
            <p-pickList [source]="sourceAlias" [target]="targetAlias" sourceHeader="Available Alias Conversion List"
                targetHeader="Selected Alias Conversion List" [dragdrop]="true" [responsive]="true"
                [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }" breakpoint="1000px">
                <ng-template let-alies pTemplate="item">
                    {{alies.label}}
                </ng-template>
            </p-pickList>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="row justify-content-between ">
            <div class="form-group col-md-5 flex-column ">
                </div>
                <div class="form-group col-md-1 flex-column ">
                <button pButton (click)="reset()" class="p-button-danger" label="Reset">
                    <i class="pi pi-undo"></i>&nbsp;&nbsp;</button>
            </div>
            <div class="form-group col-md-6 flex-column ">
                <button pButton label="Generate" (click)="submit()">
                    <i class="pi pi-file-export"></i>&nbsp;&nbsp;</button>
            </div>
        </div>
    </ng-template>
</p-panel>