<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="col-3" style="float: left; width: 20%;">
                <h3>Options</h3>
                <input type="radio" id="file" value="convertfile" name="file" ngModule>
                <label for="convert">Convert the Input File</label><br>
                <input type="radio" id="file" value="createfile" name="file" ngModule>
                <label for="convert">Create Input File</label><br>
            </div>

            <div class="col-9" style="float: left; width: 80%;">
                <div style="margin-bottom: 14px;">
                    <label class="labelcls">File</label>
                    <input type="text" class="searchinput" [(ngModel)]="searchTerm">
                    <input id="file-input" type="file" />
                </div>
                <div style="margin-bottom: 14px;">
                    <label class="labelcls" style="margin-top: 26px;">Sheet</label>
                    <p-dropdown [options]="sheets" [(ngModel)]="selectedsheet" optionLabel="name"></p-dropdown>

                    <div class="box">
                        <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
                        <label>Override Sheet</label>
                    </div>
                </div>


                


                <div style="margin-bottom: 14px;">
                    <label class="labelcls" style="margin-top: 26px;">Column</label>
                    <p-dropdown [options]="sheets" [(ngModel)]="selectedsheet" optionLabel="name"></p-dropdown><br>
                </div>

                <div class="button">
                    <button class="generatecls">Generate</button>
                </div>


                <div class="col-12">
                    <div cdkDropListGroup>
                        <div class="example-container">
                            <h5>Available Alias Conversion List</h5>
                            <div cdkDropList [cdkDropListData]="todo" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let iteam of todo" cdkDrag>{{iteam}}</div>
                            </div>
                        </div>


                        <div class="example-container">
                            <h5>Select Alias Conversion List</h5>
                            <div cdkDropList [cdkDropListData]="done" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let iteam of done" cdkDrag>{{iteam}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>