<p-panel header="ECI List">
    <ng-template pTemplate="body">
        <form [formGroup]="formValue" class="form-card">
            <div class="row justify-content-between text-left">
                <div class="form-group col-sm-1 flex-column">
                </div>
                <div class="form-group col-sm-1 flex-column pt-2">
                    <label for="search" class="ml-2">Keyword</label>
                </div>
                <div class="form-group col-sm-3 flex-column ">
                    <input type="text" pInputText formControlName="keyword" placeholder="Logical or Physical name"  (ngModelChange)="searchdata($event)" />
                </div>
                <div class="form-group col-sm-2 flex-column ">
                    <button pButton label="Search" (click)="submit()"><i class="pi pi-search"
                            style="font-size: 1rem"></i>&nbsp;&nbsp;</button>
                </div>
                <div class="form-group col-sm-5 flex-column ">
                </div>
            </div>

        </form>
        <hr>
        <p-table #content responsiveLayout="scroll" [value]="tabledata" dataKey="id" [rows]="10"
            [showCurrentPageReport]="true" [lazy]="true" (onLazyLoad)="loadCustomers($event)" [loading]="loading"
            [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers p-datatable-gridlines"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['folder','filename','datemodified','modelname','entityname',
        'tablename','entitydefinition']" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex">

                    <button type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-success mr-2"
                        pTooltip="XLS" (click)="exportExcel()" tooltipPosition="bottom"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th> Logic ECI Name
                    </th>
                    <th>Prescribed Physical Name
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-value>

                <tr>
                    <td>{{value.eciname}}</td>
                    <td>{{value.physicalname}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-panel>