<p-panel header="Repo Search">
    <ng-template pTemplate="body">
        <form [formGroup]="formValue" class="form-card">
            <div class="row justify-content-between text-left">
                
                <div class="form-group col-sm-4 flex-column ">
                </div>
                <div class="form-group col-sm-2 flex-column ">
                    <p-radioButton name="option" value="logicaltoken" formControlName="option"
                        inputId="logicaltoken"></p-radioButton>
                    &nbsp;<label for="logicaltoken" class="ml-2">Logical Token</label>
                </div>
                <div class="form-group col-sm-2 flex-column ">
                    <p-radioButton name="option"  value="physicaltoken" formControlName="option"
                        inputId="physicaltoken"></p-radioButton>
                    &nbsp;<label for="physicaltoken" class="ml-2">Physical Token</label>
                </div>
                <div class="form-group col-sm-4 flex-column ">
                </div>
            </div>
            <br>
            <div class="row justify-content-between text-left">
                <div class="form-group col-sm-4 flex-column ">
                </div>
                <div class="form-group col-sm-3 flex-column ">
                    <button pButton label="Search" (click)="submit()"><i class="pi pi-search"
                            style="font-size: 1rem"></i>&nbsp;&nbsp;</button>
                </div>
                <div class="form-group col-sm-3 flex-column ">
                </div>
            </div>
        </form>
    </ng-template>
</p-panel>