<p-panel header="Repo Search">
    <ng-template pTemplate="body">
        <form [formGroup]="formValue" class="form-card">
            <div class="row justify-content-between text-left">
                <div class="form-group col-sm-2 flex-column ">
                    <p-radioButton name="token" value="logicaltoken" formControlName="token"
                        inputId="logicaltoken"></p-radioButton>
                    &nbsp;<label for="logicaltoken" class="ml-2">Logical Token</label>
                </div>
                <div class="form-group col-sm-1 flex-column pt-4">
                    <label for="search" class="ml-2">Search</label>
                </div>
                <div class="form-group col-sm-2 flex-column pt-3">
                    <input type="text" pInputText formControlName="search" (ngModelChange)="searchdata($event)" />
                </div>
                <div class="form-group col-sm-6 flex-column ">
                </div>
            </div>
            <br>
            <div class="row justify-content-between text-left">
                <div class="form-group col-sm-3 flex-column ">
                    <p-radioButton name="token" value="physicaltoken" formControlName="token"
                        inputId="physicaltoken"></p-radioButton>
                    &nbsp;<label for="physicaltoken" class="ml-2">Physical Token</label>
                </div>
            </div>
            <br>
            <div class="row justify-content-between text-left">
                <div class="form-group col-sm-3 flex-column ">
                </div>
                <div class="form-group col-sm-3 flex-column ">
                    <button pButton label="Search" (click)="submit()"><i class="pi pi-search"
                            style="font-size: 1rem"></i>&nbsp;&nbsp;</button>
                </div>
                <div class="form-group col-sm-3 flex-column ">
                </div>
            </div>
        </form>
        <hr>
        <p-table responsiveLayout="scroll" [value]="tabledata" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
            [lazy]="true" (onLazyLoad)="loadCustomers($event)" [loading]="loading" [rowsPerPageOptions]="[10,25,50]"
            styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Physical Token
                    </th>
                    <th>Logical Token
                    </th>
                    <th>Priority
                    </th>
                    <th>Status
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-value>

                <tr>
                    <td>{{value.physicaltoken}}</td>
                    <td>{{value.logicaltoken}}</td>
                    <td>{{value.priority}}</td>
                    <td>{{value.status}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-panel>